body {
  padding: 0;
  background-color: gold;
  overflow: scroll;
}
header,
.wy-container,
footer {
  width: 100%;
}
header {
  background-color: green;
  height: 15%;
  position: fixed;
  top: 0;
  transition: all 1s ease;
}
header.h-half {
  height: 7.5%;
}
.wy-container {
  background-color: red;
  height: auto;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
footer {
  background-color: yellow;
  height: 7.5%;
  position: fixed;
  bottom: 0;
}
.header-con {
  width: 100%;
  height: 100%;
}
.header-con .header-top {
  height: 50%;
  background-color: #fff;
  transition: all 1s ease;
}
.header-con .header-top.h-0 {
  height: 0;
  overflow: hidden;
}
.header-con .header-bottom {
  height: 50%;
}
