.index-content-fa {
  width: 100%;
  background-color: #0f0f0f;
}
.centerCenter,
.ul-list > li > a {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;
  display: -o-box;
  -o-box-orient: horizontal;
  -o-box-pack: center;
  -o-box-align: center;
  display: -ms-box;
  -ms-box-orient: horizontal;
  -ms-box-pack: center;
  -ms-box-align: center;
  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
}
.com-content {
  width: 100%;
  overflow: hidden;
}
.com-content > .content-son {
  height: 92.5%;
  width: 100%;
  overflow: hidden;
}
.com-content > .footer {
  height: 7.5%;
  width: 100%;
  overflow: hidden;
}
.footer-ul {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #fff;
  border-top: 0.1px solid #b6b6b5;
  box-shadow: 0 -10px 20px red;
  overflow: hidden;
}
.footer-ul li {
  float: left;
  display: block;
  width: 24%;
  height: 100%;
}
.footer-ul li.active a {
  color: #FF3333;
}
.footer-ul li a {
  height: 100%;
  color: #a5a5a4;
  text-decoration: none;
}
.xinwen-header {
  position: fixed;
  top: 0;
  height: 15%;
  width: 100%;
  background-color: rgba(153, 191, 74, 0.93);
}
.news-list {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.xinwen-header-con {
  width: 100%;
  height: 100%;
}
.xinwen-header-con .header-top {
  width: 100%;
  height: 50%;
  background-color: #fff;
  transition: all 1s ease;
}
.xinwen-header-con .header-bottom {
  width: 100%;
  height: 50%;
  background-color: #FF3333;
  transition: all 1s ease;
}
.xinwen-header-con .i {
  height: 70%;
}
.xinwen-header-con .i.p {
  width: 6%;
  background: url("../img/icon-personal-v2.png") center center no-repeat;
  background-size: contain;
}
.xinwen-header-con .i.l {
  width: 78%;
  background: url("../img/logo_2016_v2.png") center center no-repeat;
  background-size: contain;
}
.xinwen-header-con .i.e {
  width: 6%;
  position: relative;
  left: 4%;
  background: url("../img/icon-email-v2.png") center center no-repeat;
  background-size: contain;
}
.header-bottom > div {
  float: left;
  height: 100%;
}
.header-bottom .ul-l {
  position: relative;
  width: 93%;
  overflow: hidden;
}
.header-bottom .slide-r {
  width: 7%;
  background: url("../img/iocn-down.png") center center no-repeat;
  background-size: contain;
}
.header-bottom .shadow {
  position: absolute;
  height: 100%;
  width: 0;
}
.header-bottom .shadow-l {
  left: -6px;
  box-shadow: 10px 0px 10px 10px #FF3333;
}
.header-bottom .shadow-r {
  right: -4px;
  box-shadow: -10px 0px 10px 10px #FF3333;
}
.ul-fa {
  position: absolute;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.ul-list {
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
  white-space: nowrap;
  text-wrap: normal;
  overflow: scroll;
}
.ul-list > li {
  display: inline-block;
  padding: 0 2%;
  width: auto;
  height: 100%;
}
.ul-list > li > a {
  height: 100%;
  font-size: 1.5rem;
  color: #e6e6e6;
}
.ul-list > li:first-of-type {
  margin-left: 5%;
}
.ul-list > li:last-of-type {
  margin-right: 5%;
}
.slide-down {
  position: absolute;
  width: 100%;
  height: 0;
  background-color: rgba(23, 32, 43, 0.8);
  z-index: 100;
}
.slide-down.bounceInDown {
  height: 700%;
}
.slide-down.bounceOutRight {
  height: 700%;
}
.xinwen-detail {
  position: fixed;
  z-index: 777;
  top: 0;
  width: 100%;
  height: 20.5%;
  overflow: scroll;
  background-color: red;
}
.xinwen-detail.flipInX {
  width: 100%;
}
.xinwen-detail.zoomOutDown {
  width: 100%;
}
.xinwen-list {
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: green;
}
