<div class="item-fa">
	<!--news-list-->
	<div class="item" ng-repeat="i in data">
		<a class="item-n" href="#" ng-if="$index != 0 && !i.imgextra">
			<img class="i img-responsive" ng-src="{{i.imgsrc}}" alt="">
			<div class="c">
				<h4 class="h text-justify">{{i.title}}</h4>
				<span class="p">{{i.ptime | ptime}}</span>
				<span class="r"><span class="glyphicon glyphicon-edit"></span>&nbsp; {{i.replyCount | replyCount}}</span>
			</div>
		</a>
		<a class="item-m" href="#" ng-if="$index != 0 && i.imgextra">
			<h4 class="h text-justify">{{i.title}}</h4>
			<ul class="u list-unstyled clearfix">
				<li>
					<img class=" img-responsive" ng-src="{{i.imgsrc}}" alt="">
				</li>
				<li>
					<img class=" img-responsive"  ng-src="{{i.imgextra[0].imgsrc}}" alt="">
				</li>
				<li>
					<img class=" img-responsive"  ng-src="{{i.imgextra[1].imgsrc}}" alt="">
				</li>
			</ul>
		</a>
	</div>
</div>