<div class="item-fa">
	<!--news-list-->
	<div class="item" ng-repeat="i in data">
		<a class="item-n" href="#" ng-if="$index != 0 && !i.imgextra">
			<img class="i img-responsive" ng-src="{{i.imgsrc}}" alt="">
			<div class="c">
				<p class="h text-justify">{{i.title}}</p>
				<span class="p">{{i.ptime | ptime}}</span>
				<span class="r"><span class="glyphicon glyphicon-edit"></span>&nbsp; {{i.replyCount | replyCount}}</span>
			</div>
		</a>
		<a class="item-m" href="#" ng-if="$index != 0 && i.imgextra">
			<img class="i img-responsive" ng-src="{{i.imgsrc}}" alt="">
		</a>
	</div>
</div>