<ul class="footer-ul list-unstyled clearfix text-center" data-id="footerUl">
	<li class="" ng-click="menuClick($event)" data-id="xinwen"><a class="centerCenter" ui-sref="index.xinwen"><span
			class="glyphicon glyphicon-align-left"></span><br>新闻</a></li>
	<li ng-click="menuClick($event)" data-id="zhibo" ><a class="centerCenter" ui-sref="index.zhibo"><span
			class="glyphicon glyphicon-facetime-video"></span><br>直播</a></li>
	<li ng-click="menuClick($event)" data-id="huati" ><a class="centerCenter" ui-sref="index.huati"><span
			class="glyphicon glyphicon-comment"></span><br>话题</a></li>
	<li ng-click="menuClick($event)" data-id="wo"><a class="centerCenter" ui-sref="index.wo"><span
			class="glyphicon glyphicon-user"></span><br>我</a></li>
</ul>
