<div class="com-xinwen">
	<header class="xinwen-header" data-id="header" ng-controller="headerCtrl">
		<div class="xinwen-header-con">
			<div class="header-top padding-space centerCenter" data-id="headerTop">
				<div class="i p "></div>
				<div class="i l "></div>
				<div class="i e "></div>
			</div>
			<div class="header-bottom padding-space">
				<div class="ul-l">
					<div class="ul-fa">
						<ul class="ul-list list-unstyled">
							<li ng-repeat="i in barList">
								<a href="#/index/xinwen/list/{{i.ename}}?list={{i.ename}}" style="line-height: {{size.windowH*0.075}}px">{{i.name}}</a>
							</li>
						</ul>
					</div>
					<div class="shadow shadow-l"></div>
					<div class="shadow shadow-r"></div>
				</div>
				<div class="slide-r" ng-click="slideDown()">
				</div>
			</div>
		</div>
		<div class="slide-down  animated" data-id="slideMenu"></div>
	</header>
	<div class="xinwen-list slide-animate" ui-view name="xinwenView"></div>
</div>