.footer-ul {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  //border-top: 0.1px solid #b6b6b5;
  box-shadow: 0 -1px 2px rgba(191, 191, 191, 0.2);
  overflow: hidden;
  li {
    //float: left;
    display: inline-block;
    width: 24%;
    height: 100%;
    //border: 1px solid red;
    padding-top: 2%;
    a {
      padding-top: 10%;
      color: #a5a5a4;
      &.active {
        color: #FF3333;
      }
    }
  }

}