body {
  padding: 0;
  background-color: gold;
  overflow: scroll;
}

header, .wy-container, footer {
  width: 100%;
  //padding: 0 3%;
}

header {
  position: fixed;
  top: 0;
  height: 15%;
  transition: all 1s ease;
  background-color: #FFFFFF;
}

header.h-half {
  height: 7.5%;
}

.wy-container {
  background-color: #c3cdcd;
  height: auto;
  margin: 0;
  //padding: 0;
  overflow: hidden;
}

footer {
  background-color: yellow;
  height: 7.5%;

  position: fixed;
  bottom: 0;
}

.padding-space {
  padding: 0 5%;
}
