body {
  padding: 0;
  background-color: gold;
  overflow: scroll;
}

header, .wy-container, footer {
  width: 100%;
  padding:0 3%;
}

header {
  background-color: green;
  height: 15%;

  position: fixed;
  top: 0;
  transition: all 1s ease;
}
header.h-half {
  height: 7.5%;
}

.wy-container {
  background-color: red;
  height: auto;
  margin: 0;
  //padding: 0;
  overflow: hidden;
}

footer {
  background-color: yellow;
  height: 7.5%;

  position: fixed;
  bottom: 0;
}
