.item-c {
  position: relative;
  width: 100%;
  background-color: #0f0f0f;
  box-sizing: content-box;
  margin-bottom: 3%;
}
.swiper-pagination {
  text-align: right;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.item-fa {
  .item {
    padding: 0 4%;
    & > a {
      display: block;
      padding-bottom: 3%;
      margin-bottom: 3%;
      border-bottom: 1px solid #cececd;
    }
  }
  overflow: hidden;
  h4 {
    font-size: 1.6rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }
}
//普通新闻
a.item-n {
  .i {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
  }
  .c {
    display: inline-block;
    padding-left: 2%;
    width: 68%;
    vertical-align: middle;
    color: #222;
    vertical-align: top;
    .h {
      padding-top: 1%;
      margin-bottom: 8%;
    }
    .p {
      font-size: 1.2rem;
    }
    .p, .r {
      color: #8e9797;
    }
    .r {
      float: right;
    }
    .glyphicon {
      //margin-left: 3%;
      //z-index: 1;
    }
  }

}
//三张图新闻
a.item-m {
  .h {
    color: #222;
    margin-bottom: 1%;
  }
  .u {
    li {
      //border: 1px red solid;
      float: left;
      width: 32%;
      margin: 0.5%;
    }
    img {

    }

  }
}