
.item-fa {
  .item {
    padding: 0 4%;
    & > a {
      display: block;
      padding-bottom: 3%;
      margin-bottom: 3%;
      border-bottom: 1px solid #cececd;
    }
  }
  overflow: hidden;
  h4 {
    font-size: 1.6rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }
}

a.item-n {
  .i {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
  }
  .c {
    display: inline-block;
    padding-left: 2%;
    width: 68%;
    vertical-align: middle;
    color: #222;
    .p {
      font-size: 1.2rem;
    }
    .p, .r {
      color: #8e9797;
    }
    .r {
      float: right;
    }
    .glyphicon {
      //margin-left: 3%;
      //z-index: 1;
    }
  }

}

a.item-m {
  .h {
    color: #222;
    margin-bottom: 1%;
  }
  .u {
    li {
      //border: 1px red solid;
      float: left;
      width: 32%;
      margin: 0.5%;
    }
    img {

    }

  }
}