.xinwen-header {
  position: fixed;
  top: 0;
  //height: 15%;
  //width: 100%;
  background-color: rgba(153, 191, 74, 0.93);
  z-index: 888;
}
.news-list {
  width: 100%;
  //background-color: red;
  height: 100%;
  overflow: hidden;
}